{% extends 'base.html' %}
{% block title %} Creat a new post {% endblock %}
{% block content %}

    <h1>Add blog post</h1>
    {% if user.is_authenticated %}
    
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>
    <script>
        let name = '{{ user.id }}';
        document.getElementById('elder').value = name;
    </script>
    {% else %}

    you need to login

    {% endif %}
    

{% endblock %}