{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% block content %}
    <br>
    <br>
    <h1>{{ post.title }}</h1> 
     <br>
     <p>
        {{ post.author }} 
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        - <a href="{% url 'update_post' post.pk %}"><small>(Edit)</a></small> 
        |  <small>{{ post.post_date }}</small>
        | <a href="{% url 'delete_post' post.pk %}"><small>(Delete)</small></a>: {{ post.author.first_name }} - {{ post.author.last_name }}
        {% endif %}
        {% endif %}
    </p>
     <br>
     <p> {{ post.body | safe }}</p>
    
<br>
<br>


<a href="{% url 'home' %}"  class="btn btn-secondary">back</a>
<br>
<br>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% if user.is_authenticated %}
    {% csrf_token %}
    {% if liked %}
    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unkike</button> 
    {% else %}
    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button> 
    {% endif %}
    - {{ total_likes }}
    {% else %} 
    <h3>you need to be <a class="nav-link" href="{% url 'login' %}">Login</a> for ability to click on like button</h3>
    {% endif %}
</form>


{% endblock %}